/* form */
.create-service h2 {
	font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #000;
    margin: 5px 0 0;
    padding-left: 8px;
}
#new-service-container {
    margin-top: 40px;
    margin-bottom: 40px
}
.box-bordered {
    border: 1px solid #dbdbdb;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.03);
    box-shadow: 0 2px 2px rgba(0,0,0,0.03);
    border-radius: 3px;
}
#new-service-container .form-horizontal {
	padding: 25px 25px;
	background-color: #fff;
}
#new-service-container .form-horizontal .control-label {
	text-align: left; 
}
#new-service-container .form-group p.text-right {
	margin-bottom: 15px;
	font-size: 13px;
}
#new-service-container .form-group p {
	margin-bottom: 0;
    margin-top: 5px;
    font-size: 12px;
    line-height: 1.2;
}
#new-service-container .form-horizontal a:hover {
	text-decoration: none;
}
#new-service-container .divider {
	height: 1px;
	background-color: #dbdbdb;
	margin: 20px 0;
	clear: both;
}
#new-service-container .form-group {
	margin-bottom: 25px;
	position: relative;
}
#new-service-container .form-group .glyphicon-remove {
	color: #a94442;
	font-size: 16px;
	vertical-align: middle;
}
#new-service-container .form-group .glyphicon-plus {
	color: #3c763d;
	font-size: 16px;
	margin-right: 10px;
}
#new-service-container .add-media-btn {
	margin-top: 15px;
}
#new-service-container .add-media-btn:hover,
#new-service-container .add-extra-btn:hover {
	background-color: #fff;
}
#new-service-container .remove-extra-btn {
	color: #000;
	position: absolute;
	right: 25px;
	top: 0;
}
#new-service-container .remove-extra-btn:hover {
	color: #000;
}
#new-service-container .add-extra-btn {
	position: relative;
	top: 0;
	left: 10px;
}
#new-service-container .submit-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 auto;
}
#new-service-container .list-inline.wysihtml5-toolbar {
	margin-left: 0;
	border: 1px solid #dbdbdb;
	border-bottom: 0;
	margin-bottom: 0;
	padding: 10px 10px;
}
#new-service-container .wysihtml5-toolbar.list-inline>li {
	padding-right: 0;
	padding-left: 0;
	margin-bottom: 5px;
}

form#new-service ul.wysihtml5-toolbar > li a.btn {
	border: 1px solid transparent !important;
}

form#new-service ul.wysihtml5-toolbar > li a.btn:hover {
	border: 1px solid #ccc !important;
}
.list-inline.wysihtml5-toolbar .btn-default {
	padding: 5px 10px;
}
#new-service-container .media-container .col-xs-12 {
	margin-bottom: 15px;
}
#new-service-container .img-container .img-thumbnail,
#new-service-container .video-container .embed-responsive,
#new-service-container .audio-container audio {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#new-service-container .img-container .img-thumbnail {
	max-height: 100%;/**/
}
#new-service-container .media-container {
	position: relative;
}
#new-service-container .img-container {
	width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}
.img-container.media-files {
	width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}
.img-container.media-files figure {
	position: relative;
	text-align: center;
	margin: 0 auto 15px;
    width: 186px;
    height: 126px;
}
.img-container.media-files img {
	max-height: 100%;
}
#new-service-container .media-container audio {
	width: 100%;
	max-width: 250px;
	display: block;
	outline: none;
}
.resize-img-container .img-library .img-container {
	margin: 0 auto 5px;
	width: 170px; 
	height: 110px;
}
.resize-img-container .img-library .img-container img {
	max-height: 100%;
}
.resize-img-container .img-library-field {
	width: 100%;
} 
.resize-img-container .img-library .btn-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-orient: vertical; 
	-webkit-box-direction: normal; 
	    -ms-flex-direction: column; 
	        flex-direction: column; 
	width: 125px; 
	margin: 0 auto;
}
.resize-img-container .img-library .btn-container a.btn {
	margin-bottom: 10px;
}
.library-container figure.img-library {
	position: relative;
	margin-bottom: 25px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.library-container figcaption.btn-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	display: none;
}
.library-container figure.img-library:hover figcaption.btn-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;        
}
.library-container figcaption.btn-container a.btn {
	margin: 10px auto;
	width: 125px;
}

.library-container {
	display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}
#new-service-container .save-btn button {
	border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    margin: 0 15px;
}
#new-service-container .save-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
	padding: 10px 50px;
}
#new-service-container figure {
	position: relative;
	text-align: center;
	margin: 0 auto 15px; /**/
    width: 186px;/**/
    height: 126px;/**/
}
#new-service-container figure:hover figcaption {
	opacity: 1;
	-webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#new-service-container figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#new-service-container figcaption button {
	width: 100px;
	margin: 5px auto;
}
#new-service-container .service-extra-block {
	position: relative;
}
@media (min-width: 992px) {
	#bootstrap-wysihtml5-insert-image-modal .modal-dialog.modal-lg {
    	width: 900px !important;
	}
}
@media (max-width: 768px) {
	#new-service-container .extras-title {
		margin-bottom: 25px;
		padding-left: 0;
	}	
	#new-service-container .remove-extra-btn {
		right: 0;
		top: -10px;
	}
	#new-service-container .list-inline .btn-default {
		padding: 5px 10px;
    	font-size: 12px;
	}
	#new-service-container .list-inline>li {
		margin-bottom: 5px;
	}
	#bootstrap-wysihtml5-insert-image-modal .modal-dialog.modal-lg {
    width: 600px !important;
	}
	.library-container figcaption.btn-container a.btn {
	    margin: 5px auto;
	    width: 110px;
	}
}
@media (max-width: 576px) {
	.media-container .col-xs-6 {
		width: 100%;
	}
	.navbar-fixed-bottom, 
	.navbar-fixed-top,
	.fixed {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	footer .navbar-default {
		padding-bottom: 0 !important;
		padding-top: 5px !important;
		margin-bottom: 5px !important
	}
}